.home {
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home img {
    height: 350px;
}

.home p {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.home span {
    color: var(--gren);
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn_gren {
    background-color: var(--gren);
    color: var(--white);
    cursor: pointer;
}

.btn_gren:hover {
    background-color: var(--primary);
}