.sobre {
    width: 100%;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-block: 40px;
}

.bio {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.bio span {
    color: var(--gren);
    font-weight: bold;
}

.bio strong {
    color: var(--secondary);
}

.textos h2, p {
    margin-bottom: 1rem;
}


.techs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
}


.avatar {
    width: 217px;
    height: 217px;
}

.icones {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
}
 

.react, .css, .html, .spring, .js, .sql, .java{
    width: 60px;
    height: 60px;
}


@media (max-width: 768){
    .bio {
        flex-direction: column;
        padding-inline: 20px;
        gap: 1rem;
    }
    .bio img {
        max-width: 50%;
    }
}

@media (max-width: 480px){
    .react, .css, .html, .spring, .js, .sql, .java{
        width: 40px;
        height: 40px;
    }
    .avatar {
        width: 200px;
        height: 200px;
    }
    .icones {
        gap: 0.5rem;
    }
    .icones img {
        height: 40px;
    }
}

@media (max-width: 320px){

    .bio {
        flex-direction: column;
        padding-inline: 20px;
        gap: 1rem;
    }
}

@media (max-width: 425px){

    .bio {
        flex-direction: column;
        padding-inline: 20px;
        gap: 1rem;
    }
}
    @media (max-width:375px){

        .bio {
            flex-direction: column;
            padding-inline: 20px;
            gap: 1rem;
        }

        

    .react, .css, .html, .spring, .js, .sql, .java{
        width: 30px;
        height: 30px;
    }
    .avatar {
        width: 135px;
        height: 135px;
    }
    .icones {
        gap: 0.5rem;
    }
    .icones img {
        height: 30px;
    }
}